<!doctype html>
<html lang="en" ng-app="treeGridTest">
<head>
  <meta charset="utf-8">
  <title>My HTML File - {{query}}</title>
   <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
    <link rel="stylesheet" href="js/treeGrid.css">
    <script src="js/tree-grid-directive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/js/xeditable.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/css/xeditable.css">

  <script src="js/app_2.js"></script>
</head>


  <body ng-controller="treeGridController" style="margin:20px">

  <a href="#" editable-text="user.name">{{ user.name || "empty" }}</a>


    <div ng-model="showMinDir" ng-value="false">

        <button ng-click="showMinDir=false" class="btn btn-primary btn-sm">Use standard directive</button>

        <br/><br/>
        <div ng-show="!showMinDir">
            <strong>standard directive: </strong><code>&lt;tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property" on-select="my_tree_handler(branch)" expand-level="2" icon-leaf= "glyphicon glyphicon-globe"&gt;&lt;/tree-grid&gt;</code>
            <br/>
            <br/>
            <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
            <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>

            <tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property" on-select="my_tree_handler(branch)" expand-level="2" icon-leaf= "glyphicon glyphicon-globe"></tree-grid>
        </div>

    </div>


  </body>
</html>


