<!doctype html>
<html lang="en" ng-app="treeGridTest">
<head>
    <meta charset="utf-8">
    <title>My HTML File - {{query}}</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
    <link rel="stylesheet" href="css/treeGrid.css">
    <script src="js/modules/tree-grid-directive.js"></script>
    <script src="js/modules/xeditable.js"></script>
    <link rel="stylesheet" href="css/xeditable.css">
    <script src="js/app.js"></script>
</head>

<body ng-controller="treeGridController" style="margin:20px">
    <div>
        <a href="#" editable-text="user.name" onbeforesave="checkName($data)">{{ user.name || 'empty' }}</a>
        {{tree_data[0].March}}
    </div>

    <div ng-model="showMinDir" ng-value="false">
        <br/><br/>
       <div ng-show="!showMinDir">
            <br/>
            <br/>
            <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
            <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>

            <tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property" on-select="my_tree_handler(branch)" expand-level="2" icon-leaf= "glyphicon glyphicon-globe"></tree-grid>
        </div>
    </div>
</body>
</html>


